html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}

.calculator{
   width: 300px;
   height: 500px;
   box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
   border-radius: 30px;
   overflow: hidden;
   background-color: #22222d;
   

}

form input {
    width: 90%;
    height: 150px;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    color: #fff;
    background-color: #000000;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

button {
    flex: 0 0 22%;
    margin: 5px  0;
    border:2px solid black ;
    width: 50px;
    height: 48px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.btn-yellow{
    background: rgb(245, 142, 65);
    color: white;
}

.btn-grey{
    background: grey;

}

.btn-red{
    background: red;
}

.btn-green{
    background: green;
}